@import "tailwindcss";

html, body {
  margin: 0; 
  padding: 0; 
  font-family: "Space Grotesk", sans-serif;
  background: #011b45;
  color: #fff;

}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0px);

}

@layer utilities {
  @keyframes wavy-text {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(2vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-wavy-text {
    animation: wavy-text 2s infinite;
    animation-delay: var(--wave-delay, 0s);
  }


  @keyframes fish-tail-movement {
  
    0% {
      transform: rotate(5deg);
    }
    50% {

      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }
  .animate-fish-tail-movement {
    animation: fish-tail-movement var(--tail-duration, 1s) linear infinite;
  }

  @keyframes whole-fish-movement {
    0% {
      transform: rotate(15deg) translateY(2vh) translateX(200vw);
    }
    
    50%  {
      transform: rotate(0) translateY(0vh) translateX(0);
    }
    100%  {
      transform: rotate(-5deg) translateY(-2vh) translateX(-200vw);
    }

  }

  .animate-whole-fish-movement {
    animation: whole-fish-movement var(--duration, 6s) linear infinite;
    animation-delay: -6s;
  }




   
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }

    50% {
      opacity: 0; 
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }


  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
